body{
    margin: 0;
}
.main{
    background-color: black;
}
.front{
    background-image: url("Background.jpeg");
        border-bottom: 0.5rem #7c7979 solid;
    background-size: 100%;
}
.upper-section{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.side-bar{
    margin-right: 3.5rem;
    
}
.netflix{
    color: red;
    font-size: 41px;
    font-family: sans-serif;
}
select{
    background-color: black;
    color: white;
    width: 5.5rem;
    padding: 5px;
    height: 38px;
    border-radius: 5px;
}
option{
    background-color: grey;
}
.sign-in{
    background-color: red;
    color: white;
    border: none;
    width: 87px;
    padding: 6px;
    border-radius: 5px;
    margin-left: 25px;
    font-size: 18px;
}
h1{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 3.125rem;
    font-weight: bold;
}
h2{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: lighter;
 
}
h3{
    text-align: center;
    color: white;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;;
    font-weight: lighter;
}
.input-field{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.input{
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#start{
    width: 204px;
    height: 3rem;
    background-color: rgb(243 35 35);
    color: white;
    border: none;
    font-size: x-large;
}
#enter-email{
    width: 446px;
    height: 3rem;
}
.lower-section{
    margin-top: 171px;
    margin-bottom: 65px;
}
#enjoy{
    display: flex;
        border-bottom: 0.5rem #7c7979 solid;
    height: 28rem;
}
#img{

    height: auto;
    width: 67%;
}

#content{
 
    width: 50%;
    align-self: center;
}
#enjoy{
    display: flex;
        border-bottom: 0.5rem #7c7979 solid;
    justify-content: center;
    height: 26rem;
}

#anime{
    display: flex;
    border: 1px solid white;
    position: relative;
    background: black;
    height: auto;
    width: 50%;
    top: -2rem;
    left: 3rem;
    border-radius: 12px;
}
#downloading{
    color: blue;
}
#stranger-img{
    width: 5rem;
    height: 5rem;
    position: relative;
    top: 8px;
}
#animation{
    width: 5rem;
    height: 5rem;
}
#inn-box{
    height: 6rem;
}
.accordion{
        background-color: rgb(54, 54, 54);
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 50%;
        border: none;
        text-align: justify;
        font-size: 30px;
        transition: 0.4s;
        margin-left: 15%;
        width: 23cm;
      }
      .panel {
        display: none;
        padding: 0 18px;
        color: white;
        background-color: rgb(54, 54, 54);
        overflow: hidden;
        font-family: sans-serif;
        text-align: center;
        margin-left: 15%;
        width: 22.07cm;
        font-size: 30px;
      }
      #FAQ{
            border-bottom: 0.5rem #7c7979 solid;
    }
    #last-input{
        margin-top: 4rem;
    margin-bottom: 4rem;
    }
    #end{
        color: rgb(119, 117, 117);
        font-family: sans-serif;
        margin-left: 17rem;
        margin-top: 6rem;

    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        font-size: small;
        padding: 5px;
        
        align-self: center;
        max-width: 54rem;
      }
      .item{
        margin-bottom: 1rem;
      }
      #footer-button{
        background-color: black;
    color: grey;
    border: 1px solid white;
    border-radius: 5px;
    height: 3rem;
    width: 7rem;
    font-size: 21px;
    margin: 1rem 0 1rem 0;
      }
      #footer-option{
        border: none;
    color: grey;
    align-self: center;
    background-color: black;
      }
      #number:hover{
        text-decoration: underline;
        cursor: pointer;
      }
      .item:hover{
        text-decoration: underline;
        cursor: pointer;
      }
#img-content{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}